version: '3.8'

services:
  kugou-exporter:
    image: stevenxuq/kugou-exporter:latest
    container_name: kugou-exporter
    ports:
      - '3000:3000'
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    environment:
      - NODE_ENV=production
